<%= sub_nav do %>
  <a href="<%= new_project_task_path(current_project, milestone_id: @milestone.id) %>" class='btn btn-default btn-sm pull-right' aria-label="Right Align">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Task
  </a>
<% end %>

<div class='item-container'>
  <div class="sub-header">
    <div class="open_closed">
      <span class='open_close_item <%= "active" if params[:status] == 'open' %>'>
        <span class="glyphicon glyphicon-info-sign"></span><%= link_to "#{milestone_open_tasks(@milestone)} Open", project_milestone_path(current_project, @milestone, status: 'open') %>
      </span>
      <span class='open_close_item <%= "active" if params[:status] == 'closed' %>'>
        <span class="glyphicon glyphicon-ok"></span><%= link_to "#{milestone_closed_tasks(@milestone)} Closed", project_milestone_path(current_project, @milestone, status: 'closed') %>
      </span>
    </div>
  </div>

  <% if @tasks.any? %>
    <ul class='sortable'><%= render @tasks %></ul>
  <% else %>
     <div class='empty-container'>
      <p>No tasks found.</p>
      <span>Use the add task button above to create your tasks.</span>
    </div>
  <% end %>
</div>