<div class='comment-wrapper'>
    <div class='comment-user-image'>
        <%= image_tag(task.user.gravatar_url, size: '45x45') %>
    </div>

    <div class='comment-container'>
        <div class="sub-header">
            <strong><%= task.user.slug %></strong> 
            <span class='created_at'>submitted a <strong><%= task.task_type %></strong></span>

            <% if task_owner?(task) %>
                <a href=<%= edit_project_task_path(current_project, task) %>>
                    <span class='edit-icon pull-right glyphicon glyphicon-pencil'></span>
                </a>
            <% end %>
        </div>
        <div class="description text">
            <%= task.description %>
        </div>
    </div>
</div>