
<a href="<%= project_task_path(task.project, task) %>" data-project-id="<%= task.project.name %>" data-id="<%= task.id %>" class="list-group-item">
    <h4>
      <span class="label label-<%=task_label_status(task)%> pull-right">
        <%=task.status.try(:capitalize)%>
      </span>
    </h4>
  <h4 class="list-group-item-heading"><%= task.name %></h4>
  <p class="list-group-item-text created_at">
    <%= "Created on #{task.created_at.strftime('%B %d, %Y')}" %>
  </p>
</a>