
<li data-project-id="<%= task.project.name %>" data-id="<%= task.id %>" class="list-group-item tasks">

  <span class='task-label' style='width: 40px;'>
      <% if task.task_type == 'Feature' %>
      <span class='glyphicon glyphicon-star'></span>
      <% elsif task.task_type == 'Chore' %>
        <span class='glyphicon glyphicon-cog'></span>
      <% else %>
        <i class="fa fa-bug"></i>
      <% end %>
  </span>

  <span class='task-name'>
    <%= link_to task.name, project_task_path(current_project, task) %>
    <br>
    <small><%= truncate(task.description, length: 50) %></small>
  </span>

  <span class='task-date'>
    <small><%= task.created_at.strftime('%m/%d/%Y at %I:%M%p') %></small>
  </span>

  <% if task.owner %>
    <span class='task-owner'>
       <%= image_tag current_user.gravatar_url, size: '35x35', style: 'border-radius: 25px;' %>
    </span>
  <% end %>

<!--   <span class='task-priority'>
    <% if task.priority_label.present? %>
      <span class="label label-<%= task_priority_status(task) %>" style=""><%= task.priority_label %> priority</span>
    <% end %>
  </span> -->

  <span class='task-comments'>
    <span class="glyphicon glyphicon-comment <%= highlight_icon?(task.comments.size) %> icon"></span> 
    <span class="<%= highlight_icon?(task.comments.size) %> text"> <%= task.comments.size %></span>
  </span>
   
</li>