<%= sub_nav do %>
  <a href="<%= new_project_task_path(@project) %>" class='btn btn-default btn-md pull-right' aria-label="Right Align">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Task
  </a>
<% end %>

<div class="sub-header col-md-12">
  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
  <strong><%= pluralize(@tasks.size, "Open Tasks") %></strong>
</div>

<div class="row">
  <div class="col-sm-12 task-col">
    <% if @tasks.any? %>
      <ul class="sortable">
        <%= render @tasks %>
      </ul>
    <% else %>
      <p>No tasks found <%= link_to "Create Task", new_project_task_path(@project) %></p>
    <% end %>
  </div>
</div>
