<%= sub_nav %>

<div class="item-container">
    <div class="sub-header">
        <strong>Create a new task</strong>
    </div>
    <%= simple_form_for @task, url: project_tasks_path(@project, @task), html: {role: 'form'} do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.submit "Create task", class: 'btn btn-primary' %>
    <% end %>
</div>

