

<div class="row">
    <div class='task-header'>
        <div class='task-title'><%= @task.name %></div>
        <h4 style="display: inline;"><span class="label label-success">Open</span></h4>
        <span><strong>Task</strong></span>
        <span class='created_at'><%= "created on #{@task.created_at.strftime('%B %d, %Y')}" %></span>
    </div>
    <div class='sub-horizontal-rule'></div>
    <div class="sub-header col-md-12">
        <strong>Task</strong>
        <span class='created_at'><%= "created on #{@task.created_at.strftime('%B %d, %Y')}" %></span>
        <a href=<%= edit_project_task_path(@task.project, @task) %>>
            <span class='edit-icon pull-right glyphicon glyphicon-pencil'></span>
        </a>
    </div>
    <div class="col-md-12 show-col text">
        <%= @task.description %>
    </div>
</div>
    
<div class="row">
    <div class="sub-header col-md-12">
    </div>
    <div class="col-md-12 show-col">
        <%= simple_form_for @comment, url: new_project_task_comment_path(current_project, @task) do |f| %>
            <%= f.input :text %>
            <%= f.submit "Add Comment", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>


