<div class='item-container' style="padding-top: 0px;">
    <div class='task-header'>
        <div class='task-title'><%= @task.name %></div>
        <span><strong><%= @task.task_type %></strong></span>
        <span class='created_at'>
            <%= "created #{time_ago_in_words(@task.created_at)} ago" %>
        </span>
        <% if @task.priority.present? %>
            <h4 style="display: inline;">
                <span class="label label-<%= task_priority_status(@task) %>" style="">
                    <%= @task.priority %> priority
                </span>
            </h4>
        <% end %>
    </div>

    <%= render partial: 'task_box', locals: { task: @task } %>

    <% @task.comments.each do |comment| %>
        <%= render partial: 'comment_box', locals: { comment: comment } %>
    <% end %>

    <div class='comment-wrapper'>
        <div class='comment-user-image'>
            <%= image_tag(current_user.gravatar_url, size: '45x45') %>
        </div>
        <div class='comment-container'>
            <div class="sub-header"><strong>Create Comment</strong></div>

                <%= simple_form_for Comment.new, url: project_task_comments_path(current_project, @task) do |f| %>
                    <%= f.input :text, label: false, placeholder: "Leave a comment" %>

                    <div style="text-align: right;">
                        <% if @task.status == 'open' %>
                            <%= link_to "Close task", 
                                project_task_toggle_status_path(current_project, @task), 
                                class: 'btn btn-default btn-md destroy',
                                method: :post,
                                style: 'font-weight: bold;' %>
                        <% else %>
                            <%= link_to "Reopen task", 
                                project_task_toggle_status_path(current_project, @task), 
                                class: 'btn btn-default btn-md destroy',
                                method: :post,
                                style: 'font-weight: bold;' %>
                        <% end %>
                        <%= f.submit "Comment", class: 'btn btn-primary btn-md' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>