
<div class="sub-nav col-md-12">
  <div class="btn-group btn-group-md" role="group" aria-label="">
    <a href="<%= project_feeds_path(current_project) %>" 
      class="btn btn-default <%= 'active' if current_controller('feeds') %>">
      Feed
    </a>
    <a href="<%= project_hackpads_path(current_project) %>" 
      class="btn btn-default <%= 'active' if current_controller('hackpads') %>">
      Hackpads
    </a>
    <a href="<%= project_sprints_path(current_project) %>" 
      class="btn btn-default <%= 'active' if current_controller('sprints') %>">
      Sprints
    </a>
    <a href="<%= project_tasks_path(current_project) %>" 
      class="btn btn-default <%= 'active' if current_controller('tasks') %>">
      Tasks
    </a>
  </div>
  
  <%= capture(&block) if block %>
</div>
