<%= content_for(:header_title) { "Kanban details" } %>

<div class='row'>
    <div class='col-md-4'>
        <div class='form-box'>
          <div class='form-box-title'>
            <h5>To-do</h5>
            <div class='form-box-tools'>
                <%= link_to '#', class: 'btn btn-active btn-xs' do %>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Todo
                <% end %>
            </div>
          </div>

          <div class='form-box-content'>
            <%= render partial: 'tasks', locals: { type: 'todo', tasks: @tasks.where(status: 'todo') } %>
          </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class='form-box'>
          <div class='form-box-title'>
            <h5>In Progress</h5>
          </div>

          <div class='form-box-content'>
            <%= render partial: 'tasks', locals: { type: 'in_progress', tasks: @tasks.where(status: 'in_progress')} %>
          </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class='form-box'>
          <div class='form-box-title'>
            <h5>Complete</h5>
          </div>

          <div class='form-box-content'>
            <%= render partial: 'tasks', locals: { type: 'complete', tasks: @tasks.where(status: 'complete')} %>
          </div>
        </div>
    </div>
</div>


