<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class='profile'>
      <span>
        <%= image_tag current_user.gravatar_url, size: '50x50', style: 'border-radius: 25px;' %>
      </span>
      <div><%= link_to current_user.account.name, '#' %></div>
      <div>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style='color: #8095a8; text-decoration: none;'><%= current_user.slug %>
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Account settings</a></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
      </div>
    </li>

    <% unless params[:controller] == 'projects' %>
      <%= link_to project_tasks_path(current_project), class: "side-nav" do %>
        <li class="<%= "selected" if params[:controller] == 'tasks' %>">
          <span class='icon'><i class="fa fa-tasks"></i></span>
          <span class='text'>Tasks</span>
        </li>
      <% end %>
      <%= link_to project_kanbans_path(current_project), class: "side-nav" do %>
        <li class="<%= "selected" if params[:controller] == 'kanbans' %>">
          <span class='icon'><i class="fa fa-tasks"></i></span>
          <span class='text'>Kanbans</span>
        </li>
      <% end %>
      <%= link_to project_hackpads_path(current_project), class: "side-nav" do %>
        <li class="<%= "selected" if params[:controller] == 'hackpads' %>">
          <span class='icon'><i class="fa fa-tasks"></i></span>
          <span class='text'>Hackpads</span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
